<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/todo.css" />
  </head>
  <body>
    <div id="h-div">
      <h1 id="heading" class="animate-charcter">
        <i class="fa-solid fa-clipboard-list"></i>
        TODO App
      </h1>
    </div>
    <div id="container">
      <form action="/create" method="post">
        <div class="description-div">
          <label for="todoText">Task : </label>
          <input
            type="text"
            name="todoText"
            id="todoText"
            placeholder="What do you need to do?"
            required
          />
        </div>
        <hr width="100%" style="margin: 0" />
        <div class="description-div">
          <label for="date">Due Date : </label>
          <input
            type="date"
            name="date"
            id="date"
            placeholder="dd/mm/yyyy"
            required
          />
        </div>
        <hr width="100%" style="margin: 0" />
        <div class="description-div">
          <label for="category">Category : </label>
          <input
            type="text"
            name="category"
            id="category"
            placeholder="category of task"
          />
        </div>
        <hr width="100%" style="margin: 0" />
        <button type="submit" id="add-btn">Add</button>
      </form>
      <hr width="100%" style="margin: 10px 0" />
      <!-- todo task output div -->
      <div id="output-div">
        <h2 id="task-heading">
          <i class="fa-solid fa-check"></i>
          Your tasks
        </h2>
        <hr width="100%" style="margin: 10px" />
        <% for(let i of todo_list){ %>
        <div id="display">
          <div id="des-div">
            <span><%= i.descriptions %></span>
            <span id="date-span"><%= i.date %></span>
          </div>
          <div id="category-div">
            <span><%= i.category %></span>
          </div>
          <div id="delete-icon">
            <a href="/delete-todo/?id=<%= i._id %>">
              <i class="fa-solid fa-delete-left"></i>
            </a>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <script src="/js/todo.js"></script>
  </body>
</html>
